<nav class="app-nav">
    <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink href="/locations">Locations</NavLink>
    <NavLink href="/solicitors">Solicitors</NavLink>
    <NavLink href="/report">Report</NavLink>
</nav>